*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{

    background:#111111;

    color:rgb(255, 171, 93);

    font-family: Bahnschrift SemiCondensed;

    height:100vh;

    display:flex;

    justify-content:center;

    align-items:center;

    user-select:none;

}

#timer{

    font-size:11rem;

    font-weight:700;

    letter-spacing:-4px;

}
